<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forum App - About</title>
</head>

<body>
	<h1>About Us</h1>
	<p>This is a simple forum application created with Node.js and Express. Enjoy!</p>
	<br>
	<a href="./">Back to Home</a>
</body>

</html>