<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Forum App - Create Post</title>
</head>

<body>
	<h1>Create Post</h1>

	<% if (loggedInUser) { %>
		<p>Welcome, <%= loggedInUser.username %>! <br><a href="./logout">Logout</a></p>
		<% } else { %>
			<a href="./login">Login</a>
			<br>
			<a href="./register">Register</a>
			<% } %>

				<form action="/create-post/<%= topicId %>" method="post">
					<label for="postTitle">Title:</label>
					<input type="text" id="postTitle" name="title" required>
					<label for="postContent">Content:</label>
					<textarea id="postContent" name="content" required></textarea>
					<button type="submit">Create Post</button>
				</form>

				<a href="./">Back to Home</a>
</body>

</html>