<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum App</title>
</head>

<h1>Delete Post</h1>

<p>Are you sure you want to delete the post titled "<%= post.title %>"?</p>

<form method="POST" action="/delete-post/<%= post.id %>">
    <button type="submit">Delete</button>
    <a href="/all-posts">Cancel</a>
</form>