<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum App</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <% if (typeof errorMessage !=='undefined' && errorMessage !==null) { %>
        <div style="color: red;">
            <br>
            <%= errorMessage %>
        </div>
        <% } %>
            <br>
            <a href="./register">Register if you don't have an account</a>
            <br>
            <br>
            <br>
            <a href="./">Back to Home</a>
</body>

</html>