<!-- topics.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forum App - Topics</title>
</head>

<body>
	<h1>All Topics</h1>
	<br>
	<a href="./">Home</a>
	<br>
	<br>

	<!-- Display the list of topics -->
	<% topics.forEach(topic=> { %>
		<div>
			<!-- Link to the topic's details -->
			<a href="/topics/<%= topic.id %>">
				<%= topic.name %>
			</a>
		</div>
		<% }); %>

</body>

</html>